/* custom properties */

:root {
    
}

#avatar {
    max-width: 150px;
    margin: 1.5rem;
}

.bg-green {
    background-color: #1bba9d;
}

.bg-dark-blue {
    background-color: #2f3e4e;
}

.bg-darker-blue {
    background-color: #252c36;
}