/* custom properties */

:root {
    
}

#avatar {
    max-width: 190px;
    margin: 1.5rem;
}

.bg-green {
    background-color: #1bba9d;
}

.bg-dark-blue {
    background-color: #2f3e4e;
}

.bg-darker-blue {
    background-color: #252c36;
}
/* 
#footer-icons > i {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
} */