/* custom properties */

:root {
    
}

#avatar {
    max-width: 190px;
    margin: 1.5rem;
}

.bg-green {
    background-color: #1bba9d;
}

.bg-dark-blue {
    background-color: #2f3e4e;
}

.bg-darker-blue {
    background-color: #252c36;
}


/* STAR STYLE HR */
.stylized-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.stylized-hr-white {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.stylized-hr::before,
.stylized-hr::after {
    content: '';
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color: black;
    margin: 0 10px;
    position: relative;
    top: 1px;
    border-radius: 10px;
}

.stylized-hr-white::before,
.stylized-hr-white::after{
    content: '';
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color: white;
    margin: 0 10px;
    position: relative;
    top: 1px;
    border-radius: 10px;
}


#footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer-icons > i {
    margin: 0 ;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
}